.App {
  text-align: left;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

.game-board {
  /* margin: 0 auto; */
}

.game-board td {
  width: 4rem;
  height: 4rem;
  background: rgb(29, 148, 55);
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: center;
}

.game-board td .empty {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: rgb(29, 148, 55);
  border-radius: 50%;
}

.game-board td .black {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: black;
  border-radius: 50%;
}

.game-board td .white {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: white;
  border-radius: 50%;
}

.game-board td .placable {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: #900;
  border-radius: 30%;
}
