.App {
    text-align: left;
    font-size: 30px;
    font-family: monospace;
}

.disp {
    display: inline
}

.empty {
    width: 100px;
    height: 100px;
    background: #0f0;
    color: #0f0;
    border: 1px solid gray;
}

.black {
    width: 100px;
    height: 100px;
    background: #000;
    color: #000;
    border: 1px solid gray;
}

.white {
    width: 100px;
    height: 100px;
    background: #fff;
    color: #fff;
    border: 1px solid gray;
}

.placable {
  width: 100px;
  height: 100px;
  background: #900;
  color: #900;
  border: 1px solid gray;
}