.App {
  text-align: left;
  font-family: monospace;
}

.game-board {
  margin: 0 auto;
}

.game-board td {
  width: 4rem;
  height: 4rem;
  background: rgb(29, 148, 55);
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: center;
}

/* TODO delete */
.game-board td .empty {
  /* background: rgb(29, 148, 55);
  color: rgb(29, 148, 55); */
  /* border: 1px solid gray; */
}

.game-board td .black {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: #000;
  border-radius: 50%;
}

.game-board td .white {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: #fff;
  color: #fff;
  border-radius: 50%;
}

.game-board td .placable {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: #900;
  color: #900;
  border-radius: 30%;
}
